<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../static/script.js" defer></script>
</head>

<body onload="addYear()">

    <header>
        <h1 id ="webname">Isabel Leong</h1>
        <nav class = "mynav">
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="fun.html">For Fun</a>
            <a href="contact.html">Contact Me</a>
        </nav>
    </header>
    
    <div>
        <h2>Contact Me</h2>
        <form  class = "form" action="/action_page.php" method="get">
            <label for="fname">Your name (required):</label>
            <input id="fname" name="fname" type="text" required >
           
            <label for="email">Your Email (required):</label>
            <input id="email" name="email" type="text" required>

            <label for="comment">Your Comment (required):</label>
            <textarea id="comment" name="comment" rows="4" cols="50" required></textarea>

            <button onclick="validate()">SEND</button>
            <p id="confirmation"></p>

        </form>
    </div>

    <div>
        <h3>Contact Information</h3>
        <table>
            <tr>
                <th>Phone</th>
                <td>###-###-####</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>lleong@andrew.cmu.edu</td>
            </tr>  
            <tr>
                <th>LinkedIn</th>
                <td>https://www.linkedin.com/in/leong-isabel/</td>
            </tr>
        </table>
    </div>

    <div>
        <footer>
            <p id="copyYear"> Designed and Coded by Isabel Leong &copy; </p>
        </footer>
    </div>
        
</body>
</html>