<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../static/script.js" defer></script>
</head>

<body onload="addYear()">

    <header>
        <h1 id ="webname">Isabel Leong</h1>
        <nav class = "mynav">
        <a href="../index.html">Home</a>
        <a href="cv.html">CV</a>
        <a href="fun.html">For Fun</a>
        <a href="contact.html">Contact Me</a>
        </nav>
    </header>
    
    <div class="mainLayout">
        <!--<button id="showButton" onclick="showList()">Click to show more</button>
        -->
        <div id="item1">
            <h2>Things I Like To Do For Fun</h2>
            <ul id="favList">
                <li>Tennis</li>
                <li>Reading</li>
                <li>Spending Time With Friends</li>
                <li>Hiking</li>
            </ul>  
        </div>

        <div id="item2">
            <img class="funIMG" src="/static/mountainpicture.jpg" alt="Image of a mountain">
        </div>

        <div id="item3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qM43gnigKgQ?si=-fO4rhGvMP8joDKj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div id="item4">
            <div class ="container"> 
                <h2> Need some Advice?</h2>
                <p id="adviceText">Click the button to get a random piece of advice!</p>
                <button onclick="getAdvice()">Get Advice</button>
            </div>
        </div>
    </div>

    <div>
        <footer>
            <p id="copyYear"> Designed and Coded by Isabel Leong &copy; </p>
        </footer>
    </div>
        
</body>
</html>